NEXT_PUBLIC_SUPABASE_URL=https://zmoxqiggadqlbslyfrzi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_OK-FDWBUcZ45tcccuFuukA_8R88aQyt
FEXONIC_PLATFORM_ADMIN_EMAIL=aflahalungal77@gmail.com
NEXT_PUBLIC_APP_URL=http://localhost:3000
